@model RegistrationUser.Models.Person
@{
    ViewBag.Title = "About";
}

@*<h2>About</h2>
    FirstName @Model.FirstName<br/>
    LastName :@Model.LastName<br/>
    College  :@Model.College<br/>
    Department:@Model.Department<br/>
    Phone     :@Model.Phone<br/>*@
<div>
    <table id="t01" align="center">
        <thead>
        <th>FirstName</th>
        <th>LastName</th>
        <th>College</th>
        <th>Department</th>
        <th>Phone</th>
        


        </thead>
       
        <tr>
            <td>
                @Model.FirstName
            </td>
            <td>
                @Model.LastName
            </td>
            <td>
                @Model.College
            </td>
            <td>
                @Model.Department
            </td>
            <td>
                @Model.Phone
            </td>
            



        </tr>
        


    </table>

</div>
<style>

    table#t01 {
        width: 50%;
        background-color: #f1f1c1;
    }

        table#t01 tr:nth-child(even) {
            background-color: #eee;
            text-align: center;
        }

        table#t01 tr:nth-child(odd) {
            background-color: #fff;
            text-align: center;
        }

        table#t01 th {
            color: white;
            background-color: blue;
        }

    table, th, td {
        border: 1px solid black;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }
</style>

