@model RegistrationUser.Models.Person
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
@using (Html.BeginForm("Registration1", "Person"))
{

    <label>
        FirstName
    </label>
   @Html.TextBoxFor(m => m.FirstName)<br />
    <label>
        LastName
    </label>
    @Html.TextBoxFor(m => m.LastName)<br/>
    <label>
        College
    </label>
    @Html.TextBoxFor(m => m.College)<br/>
    <label>
        Department
    </label>
    @Html.TextBoxFor(m => m.Department)<br/>
    <label>
        Phone
    </label>
    @Html.TextBoxFor(m => m.Phone)<br/>
   <input type="submit" value="Submit"/>
  }



